/*font-family: 'Noto Sans KR', sans-serif;*/
.resume {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: Arial; */
    font-weight: 300;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1.8
  }
  .paper-img{
    display: block;
    /* margin: 0 0 -5px 20px; */
    background: url('http://www.google.com/intl/en_com/images/srpr/logo3w.png');
    max-width: 320px;
    max-height: 180px;
    margin: auto;
  }
  .paper-img-small{
    display: block;
    /* margin: 0 0 -5px 20px; */
    background: url('http://www.google.com/intl/en_com/images/srpr/logo3w.png');
    max-width: 280px;
    max-height: 160px;  
    margin: auto;
    /* max-width: 140px; */
  }
  ul {
    list-style-type: circle;
    margin: 0;
    line-height: 0;
    margin-bottom: -20px;  
    margin-top: -20px;  
  }
  li {
    line-height: 0;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;  
    padding: 0;
  }
  
  body {
    margin: 0;
    background-color: #FFFFFF;
    color: #000000; 
  }
  /* Light mode styles */
  body.light-mode {
    margin: 0;
    background-color: #FFF;
    color: #000000;
  }
  
  /* .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    display: inline-block;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
  } */
  
  /* .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  nav ul li {
    display: inline;
    margin-top: 20px;
    padding: 10px;
  }
  
  .navbar a {
    color: #ffffff;
  } */
  
  /* .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  .navbar-menu ul li {
    display: inline;
    margin-top: 20px;
    padding: 10px; 
  }
  
  .navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
  }
  
  @media (max-width: 768px) {
    .navbar-menu ul {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-menu ul.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-menu ul li {
      margin: 0;
    }
  
    .navbar-menu ul li a {
      padding: 1rem;
      width: 100%;
      text-align: center;
    }
  } */
  
  section {
    scroll-margin-top: 80px; /* This adds 20px of padding space on top when navigating to the section */
  }
  
  
  .navbar {
    overflow: hidden;
    position: fixed;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #000000;
    top: 0;
    width: 100%;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 1rem;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navbar-toggle {
    display: none;
  }
  
  .navbar-toggle button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-menu li {
      margin: 0;
    }
  
    .navbar-menu li a {
      padding: 1rem;
      width: 100%;
      text-align: center;
    }
  }
  
  /* Additional style changes for specific elements in night mode */
  body blu {
    color: #002dc1; /* Gold color for headings */
  }
  body am {
    color: #596384; /* Gold color for headings */
  }
  body rd {
    color: #fa8072; /* Gold color for headings */  
  }
  body hr {
    background-color: #222222; 
  }
  /* Dark theme styles */
  body.dark-mode {
    background-color: #333;
    /* background-color: #333333; */
    color: #eeeeee;
  }
  /* Additional style changes for specific elements in night mode */
  body.dark-mode gre {
    color: #eeeeee86; /* Gold color for headings */
  }
  body.dark-mode rd {
    color: #ffa59b; /* Gold color for headings */
  }
  body.dark-mode blu {
    color: #cac8ff; /* Gold color for headings */
  }
  body.dark-mode am {
    color: #cac8ff; /* Gold color for headings */
  }
  body.dark-mode hr {
    background-color: #777777; 
  }
  
  html {
    scroll-behavior: smooth;
  }
  /*3c78d8*/
  .conf-color {
    color: #2980f1;
  }
  .blue {
    color: #3c78d8;
  }
  .gray {
    color: gray;
  }
  .midgray {
    color: rgb(75, 75, 75);
  }
  .darkgray {
    /* color: rgb(58, 58, 58);   */
    /* color: rgb(0, 0, 0);   */
    font-family: Arial;
  }
  .secfont {
    font-size: x-large; 
    font-weight: 700;
  }
  .profile-img {
    max-height: 320px;
  }
  .wo-linebreak {
    white-space: nowrap;
  }
  .head-inline {
    display: inline;
  }
  .right {
    width: 100%;
    background-color:#ffffff;
  }
  .footer-cover {
    /* background-color: #f5f5f5; */
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    height: 80px;
  }
  .note {
    font-size: 0.9em;
    /* color: rgb(58, 58, 58); */
    font-weight: 500;
    font-family: Arial;
    line-height:1.5;
  }
  .note-thin-large {
    font-size: 1.2em;
    /* color: rgb(58, 58, 58); */
    font-family: Arial;
    line-height:1.5;
  }
  .notesize{
    background-color: transparent;
    font-size: 1.6em;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.0em;
    line-height:1.5;
    text-align: left;
  }
  .bluenote {
    color: #2980f1;
    font-weight: 500;
    font-family: Arial;
    line-height:1.5;
  }
  .authors {
    /* color:rgb(90, 90, 90); */
    /* color:rgb(0, 0, 0); */
    font-size: 1.1em;
    font-weight: 500;
    line-height:1.2em;
    margin-top: -5px;
    margin-bottom: 3px;
    font-family: Calibri;
    /* font-family: Arial; */
  }
  .pprint{
    background-color: transparent;
    /* color: rgb(75, 75, 75);   */
    /* color: rgb(0, 0, 0);   */
    font-weight: 600;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.0em;
    line-height:1.4;
    text-align: left;
    font-family: Arial;
  }
  .workshop {
    /* color:rgb(0, 0, 0); */
    font-weight: 500;
    line-height:1.2em;
    margin-top: -5px;
    margin-bottom: 3px;
    font-family: Arial;
    font-size: 0.9em;  
  }
  
  .confsize{
    background-color: transparent;
    font-weight: 400;
    border-radius: 5px;
    padding: 0.0em;
    line-height:1.4;
    text-align: left;
  }
  .conf{
    background-color: transparent;
    color: #64acc0;
    width: 25.3em;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.0em;
    line-height:1.4;
    text-align: left;
    font-family: Arial;
  }
  
  .footer {
    padding-top: 10px;
  }
  .no-tb-padding{
    padding-top: -10px;
    padding-bottom: -10px;
  }
  .no-lr-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .thumbnail {
    width: 100%;
    height: 100px;
    margin: 0;
  }
  .bbold{
    font-weight: 500;
  }
  .bbbold{
    font-weight: 700;
  }
  .ssmall{
    font-size: 1.0em;
  }
  .popup {
    font-size: .8em;
    display: inline-block;
    border: 2px dotted #000;
    border-radius: 15px;
    border-color:rgba(0, 0, 0, 0.3);
    background-color:transparent;
    display:none;
    width: 100%;
    line-height:1.5;
    padding: 1em;
    margin: .5em;
    font-family: 'Courier New', Courier, monospace;
  }
  .popup-old-news {
    display: inline-block;
    display:none;
    background-color:transparent;
  }
  .popup-news {
    font-size: 0.9em;
    display: inline-block;
    border-radius: 10px;
    background-color: #e8edff;  
    width: 80%;
    font-weight: 400;
    line-height:1.5;
    display:none;
    padding: 1em;
    margin: .5em;
    margin-top: .2em;
    padding-top: .3em;
    padding-bottom: .3em;
    margin-left: 6em;
  }
  
  .badge {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 15px;
    padding: 1em;
    padding-bottom: .4em;  
  }
  
  /* .badge {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 15px;
    padding: 1em;
    padding-bottom: .4em;  
  } */
  
  .badge:empty {
    display: none;
  }
  /* 
  .badge-pill {
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 1em;
  } */
  
  
  /* .badge-nnew {
    color: #fff;
    background-color: #fa8072;
  }
  .badge-secondary {
    color: #ffffff;
    background-color: #cccccc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  } */
  
  .badge-gray {
    color: #000000;
    background-color: #ebedff;
    border-color: #000000;
    height:1.6em;
  }
  
  .badge-white {
    color: #000000;
    background-color: #ebedff;
    /* background-color: transparent; */
    border-color: #000000;
    height:1.6em;
  }
  .badge-white:hover, .badge-white:focus {
    color: #000000;
    text-decoration: none;
    background-color: #aadbff;
  }
  
  .badge-bibtexwhite {
    color: #000000;
    background-color: #ebedff;
    /* background-color: transparent; */
    border-color: #000000;
    height:1.6em;
  }
  .badge-bibtexwhite[href]:hover, .badge-bibtexwhite[href]:focus {
    color: #000000;
    text-decoration: none;
    background-color: #aadbff;
  }
  
  /* .badge-bibtex {
    color: #fff;
    background-color: #DBC7BE;
    border-color: transparent;
    height:1.6em;
  }
  .badge-bibtex[href]:hover, .badge-bibtex[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #68717a;
  } */
  
  /* Styling for the toggle switch */
  /* .theme-switch-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
  } */
  /* Container for text and switch */
  .switch-container {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    gap: 10px; /* Adds space between the text and the switch */
  }
  
  .theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "🌙";
    /* content: "Dark Mode"; */
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    bottom: 4px;
    text-align: center;
    font-size: 20px; 
    background-color: rgb(0, 0, 0);
    transition: .4s;
    border-radius: 20%;
  }
  
  input:checked + .slider {
    background-color: #cac8ff;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
  } */
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; /* Makes the button background transparent */
    border: none; /* Removes the border */
    color: inherit; /* Ensures the text color inherits from the body */
  }
  
  
  /* *{padding:0;margin:0}
  ul,ol{list-style:none}
  a{text-decoration:none;color:#fff;font-size:15px}
  nav{width:80%;overflow:hidden;height:80px;background-color:#1b2035;margin:50px auto} */
  